
{% extends "templates/base.html" %}

{% block main %}

<div class="row">
    <div class="col-13">
        <h3>Welcome to your Feed {{ user.first_name }} !</h3>

        {% for tweet in tweets %}
            <div class="card" style="margin-bottom: 20px;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/{{ tweet.user.username }}/">
                         @{{ tweet.user.username }}</a>
                    </h5>
                    <p class="card-text">
                        <strong>{{ tweet.created_at }}</strong> -
                        {{ tweet.body }}
                        {% if tweet.image is not Null %}
                            <a href="{{ tweet.image.url }}" target="_blank"> 
                            <img class="get-image" style="height: 100%; width: 100%;" src="{{ tweet.image.url }}">
                            </a>
                        {% endif %}
                    </p>
                    <div class="icon-list">
                        <div class="like js-like" data-tweet-id="{{ tweet.id }}">
                            <img style="width: 4%; height: 4%; float:left;"src="https://user-images.githubusercontent.com/67789350/113393810-d90f7f80-93b4-11eb-9ac4-9b6c037fadf5.png">
                        </div>
                        <div class="like-count js-like-count">
                            {{ tweet.like_count }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock main %}