<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TECHTWEETIS</title>
    <link rel="icon" type="image/png" href="https://user-images.githubusercontent.com/67789350/113261753-74d5b880-92ed-11eb-8432-2e1fe0b5bb76.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>


<body id='body'>
  <script>
    var colors = ["gray","white","red","white","green","white","blue","white","pink","white","orange","white","purple","white"];
    var colorIndex = 0;
    function changeColor() {
        var col = document.getElementById("body");
        if( colorIndex >= colors.length ) {
            colorIndex = 0;
        }
        col.style.backgroundColor = colors[colorIndex];
        colorIndex++;
    }
  </script>
  <script>
// Unix time value from server: seconds since 1970-01-01T00:00:00Z
// Below is a number for 2014-07-02T06:48:24.000Z, set to actual server value
var serverTime = 1404283704;

var doClock = (function () {

  // Calc offset from server time
  // Javascript time value is milliseconds since above epoch
  var serverOffset = serverTime - (new Date() / 1000 | 0);

  // Helper
  function z(n){return (n<10?'0':'') + n}

  return function() {

    // Create a new Date object each time so
    // it doesn't matter if a second or more is skipped
    var now = new Date();

    // Adjust for server offset
    now.setSeconds(now.getSeconds() + serverOffset);

    // write clock to document, values are local, not UTC
    document.getElementById('clock').innerHTML = now.getFullYear()   + '-' +
                                                 z(now.getMonth()+1) + '-' +
                                                 z(now.getDate())    + ' ' +
                                                 z(now.getHours())   + ':' +
                                                 z(now.getMinutes()) + ':' +
                                                 z(now.getSeconds());
    // Run again just after next full second
    setTimeout(doClock, 1020 - now.getMilliseconds());
  };    
}());

window.onload = doClock;
    </script>
    <!-- <h1>Welcome to <span style="color:rgb(4, 223, 252);">TECHTWEETIS</span></h1> -->
    <!-- NAVBAR -->
        <!-- NAVBAR START -->
        <nav class="navbar navbar-expand-md navbar-light shadow-sm">
          <!-- container, ajust the width for each device. -->
          <div class="container">
              <!-- navbar-brand, for your company, product, or project name. -->
              <a class="navbar-brand title-icon" href="#"><span style="color: rgb(0, 158, 158);">T</span>ECHTWEETIS</a>
  
              <!-- navbar-toggler, for use with our collapse plugin and other navigation toggling behaviors. -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
                <span class="navbar-toggler-icon"></span>
              </button>
  
              <!-- .collapse .navbar-collapse, for grouping and hiding navbar contents by a parent breakpoint. -->
              <div class="collapse navbar-collapse" id="navbarToggler">
                  <!-- navbar-nav, for a full-height and lightweight navigation -->
                  <!-- ms-auto, for pushing items to the left -->
                  <!-- mb-2, for a margin bottom for 2 levels -->
                  <ul class="navbar-nav ms-auto mb-2">
                    <li class="nav-item">
                      <a class="nav-link" id="clock"></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" onclick="changeColor()" href="#">Boogie</a>
                      </li>
                    {% if request.user.is_authenticated %}
                      <li class="nav-item">
                        <a class="nav-link" href="/">Profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/feed">Feed</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/signout">Sign out</a>
                      </li>
                      {% endif %}
                  </ul>
              </div>
          </div>
      </nav>
      <!-- NAVBAR END -->
    <!-- Main -->
    <main role="main" class="container">

        <!-- Django-relevant code, this is where our logic ends up -->
        {% block main %}
  
        {% endblock %}
  
      </main> 
      <!-- End Main -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>